@page "/donvitinh/create"
@using TKS_intern_client.Services
@using TKS_intern_client.Shared
@using TKS_intern_client.Shared.Forms
@using TKS_intern_shared.ViewModels.DonViTinhs
@using TKS_intern_shared.ViewModels.Errors
@inject ApiClient Api
@inject NavigationManager Navigation

<PageHeader Class="site-page-header p-0" Title="Thêm mới Đơn Vị Tính" Subtitle="Quản lý đơn vị tính">
    <PageHeaderBreadcrumb>
        <Breadcrumb>
            <BreadcrumbItem>Trang chủ</BreadcrumbItem>
            <BreadcrumbItem>
                <a href="/donvitinh">Đơn Vị Tính</a>
            </BreadcrumbItem>
            <BreadcrumbItem>Thêm mới</BreadcrumbItem>
        </Breadcrumb>
    </PageHeaderBreadcrumb>
</PageHeader>


<DonViTinhForm Model="model"
               OnValidSubmitCallback="HandleValidSubmit"
               OnCancel="Cancel" />

@code {
    private DonViTinhSave model = new();

    private async Task HandleValidSubmit()
    {
        var response = await Api.PostAsync("api/DonViTinhs", model);
        if (response.IsSuccessStatusCode)
        {
            Navigation.NavigateTo("/donvitinh");
        }
        else if (response.StatusCode == System.Net.HttpStatusCode.BadRequest)
        {
            var errorResponse = await response.Content.ReadFromJsonAsync<ErrorResponse>();
            _message.Error(errorResponse!.Message);
        }
    }

    private void Cancel()
    {
        Navigation.NavigateTo("/donvitinh");
    }
}
