@page "/kho/create"
@using TKS_intern_client.Services
@using TKS_intern_shared.ViewModels.Khos
@using TKS_intern_client.Shared.Forms
@inject ApiClient Api
@inject NavigationManager Navigation

<PageHeader Class="site-page-header p-0" Title="Thêm mới Kho" Subtitle="Quản lý kho hàng">
    <PageHeaderBreadcrumb>
        <Breadcrumb>
            <BreadcrumbItem>Trang chủ</BreadcrumbItem>
            <BreadcrumbItem>
                <a href="/kho">Kho</a>
            </BreadcrumbItem>
            <BreadcrumbItem>Thêm mới</BreadcrumbItem>
        </Breadcrumb>
    </PageHeaderBreadcrumb>
</PageHeader>

<KhoForm Model="model"
         OnValidSubmitCallback="HandleValidSubmit"
         OnCancel="Cancel" />

@code {
    private KhoCreateVM model = new();

    private async Task HandleValidSubmit()
    {
        var response = await Api.PostAsync("api/Khos", model);
        if (response.IsSuccessStatusCode)
        {
            Navigation.NavigateTo("/kho");
        }
        else if (response.StatusCode == System.Net.HttpStatusCode.BadRequest)
        {
            var errorResponse = await response.Content.ReadFromJsonAsync<ErrorResponse>();
            _message.Error(errorResponse!.Message);
        }
        else
        {
            Console.WriteLine("Thêm thất bại: " + response.StatusCode);
        }
    }

    private void Cancel()
    {
        Navigation.NavigateTo("/kho");
    }
}
