@using TKS_intern_client.Services
@using TKS_intern_client.Shared.Tables
@using TKS_intern_shared.ViewModels.ChiTietPhieuNhapKhos
@using TKS_intern_shared.ViewModels.SanPhams
@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Components.Forms

<div>
    <ChiTietPhieuNhapKhoInlineForm SanPhams="SanPhams" OnAdd="HandleAddRow" />

    <ChiTietPhieuNhapKhoSaveTable Items="Items" OnEditClicked="EditRow" OnDeleteClicked="DeleteRow" />

    <div class="mt-4">
        <AntDesign.Flex Gap="FlexGap.Small" Direction="FlexDirection.Horizontal">
            <AntDesign.Button Type="ButtonType.Default" OnClick="OnCancelClicked">Hủy</AntDesign.Button>
            <AntDesign.Button Type="ButtonType.Primary" OnClick="OnValidSubmit">
                Bước kế tiếp
                <Icon Type="right" Theme="IconThemeType.Outline" />
            </AntDesign.Button>
        </AntDesign.Flex>
    </div>
</div>

@code {
    [Parameter] public List<ChiTietPhieuNhapKhoSaveVM> Items { get; set; } = new();
    [Parameter] public EventCallback OnValidSubmitCallback { get; set; }
    [Parameter] public EventCallback OnCancel { get; set; }


    private List<SanPhamVM> SanPhams { get; set; } = new();

    [Inject] public ApiClient Api { get; set; } = default!;

    protected override async Task OnInitializedAsync()
    {
        SanPhams = await Api.GetAsync<List<SanPhamVM>>("api/SanPhams") ?? new();
    }

    private async Task OnValidSubmit()
    {
        if (OnValidSubmitCallback.HasDelegate)
            await OnValidSubmitCallback.InvokeAsync();
    }

    private async Task OnCancelClicked()
    {
        if (OnCancel.HasDelegate)
            await OnCancel.InvokeAsync();
    }

    private Task HandleAddRow(ChiTietPhieuNhapKhoSaveVM item)
    {
        Items.Add(item);
        return Task.CompletedTask;
    }

    private void EditRow(ChiTietPhieuNhapKhoSaveVM item)
    {
        Console.WriteLine($"Editing item: {item.SanPham?.TenSanPham}");
        // Logic to edit the row can be implemented here
        // For example, you could open a modal with the item details for editing
    }

    private void DeleteRow(ChiTietPhieuNhapKhoSaveVM item)
    {
        Items.Remove(item);
    }

}
