@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Components.Forms
@using AntDesign
@using TKS_intern_shared.ViewModels.DonViTinhs

<AntDesign.Form Model="Model" OnFinish="OnValidSubmit" Layout="FormLayout.Vertical">
    <DataAnnotationsValidator />
    <FormItem Label="Tên đơn vị tính" Name="@nameof(Model.TenDonViTinh)" Required>
        <Input @bind-Value="Model.TenDonViTinh" />
    </FormItem>

    <FormItem Label="Ghi chú" Name="@nameof(Model.GhiChu)">
        <TextArea @bind-Value="Model.GhiChu" Rows="4" />
    </FormItem>

    <FormItem>
        <Button Type="ButtonType.Primary" HtmlType="submit">Lưu</Button>
        <Button Class="ml-2" @onclick="OnCancelClicked">Hủy</Button>
    </FormItem>
</AntDesign.Form>

@code {
    [Parameter, EditorRequired]
    public DonViTinhSave Model { get; set; } = new();

    [Parameter]
    public EventCallback OnValidSubmitCallback { get; set; }

    [Parameter]
    public EventCallback OnCancel { get; set; }

    private async Task OnValidSubmit()
    {
        if (OnValidSubmitCallback.HasDelegate)
            await OnValidSubmitCallback.InvokeAsync();
    }

    private async Task OnCancelClicked()
    {
        if (OnCancel.HasDelegate)
            await OnCancel.InvokeAsync();
    }
}
