@page "/loaisanpham/create"
@using TKS_intern_client.Services
@using TKS_intern_client.Shared.Forms
@using TKS_intern_shared.ViewModels.LoaiSanPhams
@inject ApiClient Api
@inject NavigationManager Navigation

<PageHeader Class="site-page-header p-0" Title="Thêm mới Loại Sản Phẩm" Subtitle="Quản lý loại sản phẩm">
    <PageHeaderBreadcrumb>
        <Breadcrumb>
            <BreadcrumbItem>Trang chủ</BreadcrumbItem>
            <BreadcrumbItem>
                <a href="/loaisanpham">Loại Sản Phẩm</a>
            </BreadcrumbItem>
            <BreadcrumbItem>Thêm mới</BreadcrumbItem>
        </Breadcrumb>
    </PageHeaderBreadcrumb>
</PageHeader>


<LoaiSanPhamForm Model="model"
                 OnValidSubmitCallback="HandleValidSubmit"
                 OnCancel="Cancel" />

@code {
    private LoaiSanPhamSaveVM model = new();

    private async Task HandleValidSubmit()
    {
        var response = await Api.PostAsync("api/LoaiSanPhams", model);
        if (response.IsSuccessStatusCode)
        {
            Navigation.NavigateTo("/loaisanpham");
        }
        else if (response.StatusCode == System.Net.HttpStatusCode.BadRequest)
        {
            var errorResponse = await response.Content.ReadFromJsonAsync<ErrorResponse>();
            _message.Error(errorResponse!.Message);
        }
        else
        {
            Console.WriteLine("Thêm thất bại: " + response.StatusCode);
        }
    }

    private void Cancel()
    {
        Navigation.NavigateTo("/loaisanpham");
    }
}
