@page "/nhacungcap/create"
@using TKS_intern_client.Services
@using TKS_intern_client.Shared.Forms
@using TKS_intern_shared.ViewModels.NhaCungCaps
@inject ApiClient Api
@inject NavigationManager Navigation

<PageHeader Class="site-page-header p-0" Title="Thêm mới Nhà Cung Cấp" Subtitle="Quản lý nhà cung cấp">
    <PageHeaderBreadcrumb>
        <Breadcrumb>
            <BreadcrumbItem>Trang chủ</BreadcrumbItem>
            <BreadcrumbItem>
                <a href="/nhacungcap">Nhà Cung Cấp</a>
            </BreadcrumbItem>
            <BreadcrumbItem>Thêm mới</BreadcrumbItem>
        </Breadcrumb>
    </PageHeaderBreadcrumb>
</PageHeader>


<NhaCungCapForm Model="model"
                OnValidSubmitCallback="HandleValidSubmit"
                OnCancel="Cancel" />

@code {
    private NhaCungCapSaveVM model = new();

    private async Task HandleValidSubmit()
    {
        var response = await Api.PostAsync("api/NhaCungCaps", model);
        if (response.IsSuccessStatusCode)
        {
            Navigation.NavigateTo("/nhacungcap");
        }
        else if (response.StatusCode == System.Net.HttpStatusCode.BadRequest)
        {
            var errorResponse = await response.Content.ReadFromJsonAsync<ErrorResponse>();
            _message.Error(errorResponse!.Message);
        }
        else
        {
            Console.WriteLine("Thêm thất bại: " + response.StatusCode);
        }
    }

    private void Cancel()
    {
        Navigation.NavigateTo("/nhacungcap");
    }
}
